.messageContainer {
  display: flex;
  gap: 0.75rem;
  padding: 1rem;
}

.messageContentWrapper {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  align-items: stretch;
  gap: 0.5rem;
}

.messageHeader {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.messageHeaderWithTimestamp {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.75rem;
}

.messageAuthorName {
  color: white;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25;
}

.messageTimestamp {
  color: #9badc0;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
}

.messageText {
  color: white;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

