@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Inter, "Noto Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Shared Layout Classes */
.layoutContainer {
  display: flex;
  height: 100%;
  flex: 1 1 0%;
  flex-direction: column;
}

